<div class="sidebar">
    <div class="sidebar__card">
        <div class="sidebar__search">
            <input placeholder="Recherche" />
        </div>
        <div class="sidebar__content">
            <a href="{% url 'profile' %}" class="sidebar__content--title">Informations Personnel</a>
            <a href="{% url 'adresse' %}" class="sidebar__content--title">Votre adresse</a>
            <a href="{% url 'baccalaureat' %}" class="sidebar__content--title">Baccalaureat</a>
            <a href="{% url 'files' %}" class="sidebar__content--title">Vos fichier</a>
        </div>
    </div>
</div>